$borderWidth        : 2px;
$padding            : 12px;

.backBtn {
    border-radius: 5px;
    padding: $padding;
    font-size: 1.2em;
    position: absolute;
    top: 50px;

    &.light {
        background-color: #fff;
        color: #333;
        border: $borderWidth solid black;
    }

    &.dark {
        background-color: #444;
        color: #fff;
        border: $borderWidth solid #555;
    }

    &.sitLeft {
        left: 50px;
    }

    &.sitRight {
        right: 50px;
    }

    &:before {
        content: 'Back';
    }
}
